.dark-mode {
  background: #121212;
  color: white;
}

.dark-mode .card {
  background-color: #1e1e1e;
  color: white;
}

.dark-mode .song-artist,
.dark-mode p {
  color: #d1d5db;
}

.progress-wrapper {
  width: 100%;
  max-width: 420px;
  margin-bottom: 18px;
}

.time-row {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  margin-bottom: 6px;
  color: #6b7280;
}

.dark-mode .time-row {
  color: #d1d5db;
}
